@charset "UTF-8";

/*Typical Device Breakpoints 2022
----------------------------------
Mobile: 360 x 640.
Mobile: 375 x 667.
Mobile: 360 x 720.
iPhone X: 375 x 812.
Pixel 2: 411 x 731.
Tablet: 768 x 1024.
Laptop: 1366 x 768.
High-res laptop or desktop: 1920 x 1080.
*/

@media screen and (min-width: 812px) {
    span#burguer {
        display: none;
   }

   menu {
    display: block;
   }

   menu > ul > li {
    display: inline-block;
   }

   main {
    width: 720;
   }
}
